
<!DOCTYPE html>
<html>
<head>
    <title>Utility Data Fetcher</title>
</head>
<body>
    <h1>Fetch Utility Data</h1>
    <form action="/fetch-data" method="post">
        <label for="user">User:</label>
        <input type="text" id="user" name="user">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="utility_name">Utility Name:</label>
        <input type="text" id="utility_name" name="utility_name">
        <br>
        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration">
        <br>
        <button type="submit">Fetch Data</button>
    </form>
</body>
</html>
